 







 .container2{width:70%;margin:auto;}
            		#central
            		{
            			/*background: rgba(255,255,255, .5);*/
  						           			
            			-webkit-transition: all 2s ease-in-out;
            			transition: all 2s ease-in-out;
                        position:relative;


            		}

.shadow_google{box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:3px;}
 .section_article{
    margin-bottom:7%;
 }  
 .icones2{width:20px;height:20px;margin-left:10px;}
 .sous-article{font-size:13px;width:30%;padding:1%;}
 .section_article h1{ font-size:120%;text-align:left;}                
.section_article p{
    text-align:justify;
padding-top:1%;padding-bottom:4;font-size:13px;
}
                    .container_page{
                        width:85%;margin:auto;
                        font-family: 'Gotham-Bold', sans-serif;


                        color:black;
                        padding:2% 4% 2% 4%;
    background: rgba(255,255,255, .94);
    

                    }

                    .icone{width:17px;height:17px;max-height:17px;}
                    .logo1{width:40px;height:40px;}
                    
                    .color-menu{
                        color:white;font-family:arial;font-size:12px;padding-left:3px;
                    }
            		#titres
            		{
						 background: rgba(255,255,255, .8);

                        padding-top:3%;
                        -webkit-transition: all 0.45s ease-in-out;
                        transition: all 0.45s ease-in-out;
                        margin-top : 0%;
                        height:100%;

                         

                        border-radius:2px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
                    }

                    .titre
                    {
                        color :black;
                        font-family: Georgia;
                        font-size:160%;
                        -webkit-transition: all 0.45s ease-in-out;
                        transition: all 0.45s ease-in-out;
                        padding-left:5%;padding-right:5%;
                        text-align:center;
                    
                    }

            		#liens
            		{
            			margin-top : 4%;
            			display:flex;
            			flex-flow : row wrap;
            			justify-content: space-around;

            		}

            		.lienCentre
            		{

            			/*border : 5px black solid;*/
            			width : 31% ;
            			/*height : 200px;*/

            			position : relative;
            			padding:3% 3% 3% 3%;
                         text-align:center;
            			margin : 1%;
            			background: rgba(255,255,255, .8);
-webkit-transition: all 0.45s ease-in-out;
                        transition: all 0.45s ease-in-out;

            			overflow: hidden;
                        cursor:pointer;

            		}
                    
            		.apparait
            		{
            			width:100%; height:100%;
            			/*background-color: green;*/
            			position : absolute;
            			top: 0px;
            			left: 0px;
            			transform: translate(0px, -300%);
            			transition: all 1s;
            		}


            		.lienCentre:hover .apparait
            		{
            			/*background: rgba(255,255,255, .0);
            			*/
            			transform: translate(0px,0px);
            		}

            		h2
            		{

            			color : black;
            			
            			font-weight: 0.5;
            			font-family: Georgia, serif;
                        font-size:110%;padding-bottom:2%;
            		}


            		.numero
            		{
            			

            			color : #222222;
            			font-family: 'Great Vibes', cursive;

            			font-size : 1.4em;
            			font-weight: bold;
                        
                        
                        width:100%;text-align:left;
            		}

                    .section_article{
                        opacity:0;font-size:10px;
                        -webkit-transition: all 0.75s;
                        transition: all 0.75s;
                    }
                    .titreapparition
                    {
                        position : absolute;
                        top: 15px;
                        left: 0px;
                        

                        /*background-color: blue;*/
                        width:98%;margin-left:1%;
                        height:100%;
                        /*transform: translate(0px, -200%);*/
                        
                        color:black;
                        opacity:0;
                        -webkit-transition: all 1.35s ease-in-out;
                        transition: all 1.35s ease-in-out;
                        transform: translate(0%,-100%);

                        display:flex;
                        
                    }

                    .container-sous-titres{

                      margin-left:60px;
                        display: flex;
                        flex-direction: column;
                        text-align:left;
                        justify-content: space-around;
                        background: rgba(255,255,255, .75);
                        padding:2.5% 5% 2.5% 5%;
                      
                      

                        border-radius:2px;
                        margin-left:auto;

                    }
                    
                    #case1 
                    {
                        cursor: pointer;
                        
                        
                    }
                 
                    

                    #container
                    {
                        position:relative;
                        width:100%;
                        height:100%;
                        
                    }
                    



                    .button1{
                        
                        
                        position:absolute;
                        color:white;
                        -webkit-transition: all 0.45s ease-in-out;
                        transition: all 0.45s ease-in-out;
                        top: 50%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);
                       
                        opacity:0;
                    background: rgba(55,55,55, .99);
                    z-index:10;
                    padding:12px;
                    width:120px;


                    }
                    
                    .sous-titre{
                        font-size:140%;
                        font-family: "Arial";
                        


                    }
                    .button1:hover {
                         background: rgba(0,0,0, .99);
                    }

.liste1{
    margin-top:20px;hyphens: auto;column-count:2;font-size:13px;text-align:left;
}
 @media screen and (max-width:800px){
    .titre{
        font-size:120%;
    }
   .liste1{
   column-count:1;
   -webkit-column-count:1;
   
   }
    .container_page{
        width:100%;
    }
                    .sous-titre{
                        font-size:100%;
                    }
                        .lienCentre{
                            width:48%;transition: all 2s;
                        }
                        .container2{
                            width:98%;
                        }
                        .numero{
                            font-size:130%;
                            font-family: 'Great Vibes', cursive;
                        }
                        h2{font-size:100%;}
                    }









.cadre_sections{display:flex;margin-top:5%;background: rgba(255,255,255, .80);}
.cadre_sections hr{margin-top:-8px;}
.cadre_sections h2{margin-left:11px;}

.article2{color:black;text-align:left;width:49%;padding-top:3%;
    font-size:110%;
transform: translate(10%, 0%);
transition: all 1.5s;
-webkit-transition: all 1.5s;
opacity:0;



}



.image_left{width:50%;height:50%;opacity:0.8;
transform: translate(-10%, 0%);
transition: all 1.5s;
-webkit-transition: all 1.5s;
opacity:0;
                        }
.ligne{border:1px solid black;width:100%}
@media screen and (max-width:600px){
    .image_left{width:25%;height:25%;display:none;}
    .article2{width:100%;}
}


.button-contact{
    border:0px solid black;
    margin-top:3px;
    padding:10px 20px 10px 20px;
    text-align:center;
    background: rgba(255,255,255, .1);
    cursor:pointer;
}

.button-contact:hover {
    background-color:black;
    
    color:white;
}

.contact{
    margin-bottom:15px;
    width:100%;
    margin-top:35px;
    font-size:80%;
    text-align:center;
}







.group            { 
  position:relative; 
  margin-bottom:45px; 
}

input               {
  font-size:13px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus         { outline:none; }

/* LABEL ======================================= */
label                {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}










input{font-size:3px;}

input:focus ~ label, input:valid ~ label        {
  top:-15px;
  font-size:11px;
  color:#AAAAAA;
}



/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:gray; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:gray; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:gray; }
  to    { width:0; background:transparent; }
}





.submit-form{
    background-color:white;
    cursor:pointer;
}

.submit-form:hover{
    background-color:black;
    color:white;
}



#cadre1, #cadre2, #cadre3, #cadre4, #cadre5, #cadre6{
    transform:translate(-500px,0px);
    opacity:0;
    transition:1s ease all; 
  -moz-transition:1s ease all; 
  -webkit-transition:1s ease all;

}


